* {
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    scrollbar-width: none;
    font-family: 'Itim', cursive;
    background-color: #ffffff;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  .wrap {
    width: 100vw;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
  }

.projectsection {
    width: 100vw;
    height: 100vh;
    background-color: #003140;
}