
.box-div{
    position: relative;
    width : 100vw;
    margin-top: -10vh;
    border:2px solid #22262b;
    border-color:transparent transparent #22262b transparent;
    border-width:10em;
}

.aboutme{
    width: 100vw;
    background-color: #22262b;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.aboutme-bubble {
  width: max-content;
  background-color: rgb(255, 166, 64);
}


.aboutme-text{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  line-height: 1.5em;
}

.aboutme-text p{
  font-weight: 900;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.aboutme img {
    max-width: 100%;
    height: auto;
    display: block;
  }

.imgaboutme.visible{
    animation: gifannimationpositive 2s forwards;
    transition: 0.5s;
}

@keyframes gifannimationpositive{
    0% {
      opacity: 0;
      transform: translateX(50vw);
    }
    50%{
      opacity: 1;
    }
    100% {
      transform: translateX(0px);
    }
  }