
.box-div{
    position: relative;
    width : 100vw;
    margin-top: -10vh;
    background-color: #fefdfd;
    border:2px solid #22262b;
    border-color:transparent transparent #22262b transparent;
    border-width:10em;
}

.aboutme{
    width: 100vw;
    background-color: #22262b;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

@media screen and (orientation: landscape) {
  .advance-text{
    max-width: 100%;
    width: 30vw;
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (orientation: portrait) {
  .advance-text{
    max-width: 100%;
    width: 80vw;
    display: flex;
    justify-content: center;
  }
}

.aboutme-bubble {
  width: max-content;
  background-color: rgb(255, 166, 64);
}

.aboutme-text{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  line-height: 1.5em;
}

.aboutme-text p{
  font-weight: 900;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

.aboutme img {
    max-width: 100%;
    height: auto;
    display: block;
  }

.imgaboutme.visible{
    animation: gifannimationpositive 2s forwards;
    transition: 0.5s;
}

.advance-text.visible{
  animation: gifannimationneg 2s forwards;
    transition: 0.5s;
}

@keyframes gifannimationneg{
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

@keyframes gifannimationpositive{
    0% {
      opacity: 0;
      transform: translateX(50vw);
    }
    50%{
      opacity: 1;
    }
    100% {
      transform: translateX(0px);
    }
  }

.sectionproject{
  width: 100vw;
  height: 20vh;
  display: flex;
  background-color: #22262b;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: center;
}
  #projectboutton {
    position: relative;
    width: max-content;
    min-width: 180px;
  }
  #lnch {
    font-size: 18px;
    color: #fff;
    line-height: 1;
    padding: 20px 25px;
    text-align: center;
    border-radius: 50px;
    transition: 0.5s ease background-color, 0.5s ease box-shadow;
    background: #e74c3c;
    cursor: pointer;
    box-shadow: 0 20px 30px -6px #e74c3c;
  }
  #lnch_btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    line-height: 1;
    color: #fff;
    padding: 18px 12px;
    padding-right: -40px;
    cursor: pointer;
    transition: 0.3s ease transform;
  }
  #lnch.launching {
    background-color: #f39c12;
    box-shadow: 0 20px 30px -6px #f39c12;
  }
  #lnch_btn.launching {
    transform: rotateZ(-90deg);
    animation: shake 0.3s ease 0.5s infinite;
  }

  @keyframes shake {
    10%,
    90% {
      transform: translate3d(-1px, 0, 0) rotateZ(-90deg);
    }
    20%,
    80% {
      transform: translate3d(1px, 0, 0) rotateZ(-90deg);
    }
    30%,
    50%,
    70% {
      transform: translate3d(-1px, 0, 0) rotateZ(-90deg);
    }
    40%,
    60% {
      transform: translate3d(1px, 0, 0) rotateZ(-90deg);
    }
  }
  
  #lnch.launched {
    background-color: #27ae60;
    box-shadow: 0 20px 30px -6px #27ae60;
  }
  
  #lnch_btn.launched {
    transform: rotateZ(-90deg);
    animation: moveUp 1s ease 0s forwards;
  }
  @keyframes moveUp {
    0% {
      margin-top: 0;
      transform: scale(1) rotateZ(-90deg);
    }
    100% {
      color: #ff1f5a;
      margin-top: -100px;
      transform: scale(0) rotateZ(-90deg);
    }
  }
