* {
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
    width: 100%;
    scrollbar-width: none;
}

@media screen and (orientation: landscape) {
  .main {
    width: 100vw;
    height: 100vh;
    background-color: #fefdfd;
    background-repeat: no-repeat;
    background-size: cover ;
    display: block;
  }

  .wrap {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (orientation: portrait) {
  .main {
    width: 100vw;
    height: auto;
    background-color: #fefdfd;
    background-repeat: no-repeat;
    background-size: cover ;
    display: block;
  }

  .wrap {
    padding-top: 10vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
  }
}

.classimg.visible{
  animation: gifannimation 2s forwards;
  transition: 0.5s;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

@keyframes gifannimation{
  0% {
    opacity: 0;
    transform: translateX(-50vw);
  }
  50%{
    opacity: 1;
  }
  100% {
    transform: translateX(0px);
  }
}