
* {
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    scrollbar-width: none;
    font-family: 'Itim', cursive;
}

@media screen and (orientation: landscape) {
  .main {
    width: 100vw;
    height: 100vh;
    background-color: #fefdfd;
    background-repeat: no-repeat;
    background-size: cover ;
    display: block;
  }

  .wrap {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (orientation: portrait) {
  .main {
    width: 100vw;
    height: auto;
    background-color: #fefdfd;
    background-repeat: no-repeat;
    background-size: cover ;
    display: block;
  }

  .wrap {
    padding-top: 10vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
  }
}

.classimg.visible{
  animation: gifannimationnegative 2s forwards;
  transition: 0.5s;
}

.classimg img {
  max-width: 100%;
  height: auto;
  display: block;
}

@keyframes gifannimationnegative{
  0% {
    opacity: 0;
    transform: translateX(-50vw);
  }
  50%{
    opacity: 1;
  }
  100% {
    transform: translateX(0px);
  }
}

.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  z-index: 9999;
}

.loader img {
  max-width: 20vw;
  height: auto;
  display: block;
}