
* {
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    scrollbar-width: none;
    font-family: 'Itim', cursive;
}

@media screen and (orientation: landscape) {
  .main {
    width: 100vw;
    height: 100vh;
    background-color: #fefdfd;
    background-repeat: no-repeat;
    background-size: cover ;
    display: block;
  }

  .wrap {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (orientation: portrait) {
  .main {
    width: 100vw;
    height: auto;
    background-color: #fefdfd;
    background-repeat: no-repeat;
    background-size: cover ;
    display: block;
  }

  .wrap {
    padding-top: 10vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
  }
}

.classimg.visible{
  animation: gifannimationnegative 2s forwards;
  transition: 0.5s;
}

.classimg img {
  max-width: 100%;
  height: auto;
  display: block;
}

@keyframes gifannimationnegative{
  0% {
    opacity: 0;
    transform: translateX(-50vw);
  }
  50%{
    opacity: 1;
  }
  100% {
    transform: translateX(0px);
  }
}

.loader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  z-index: 9999;
}

.loader img {
  max-width: 20vw;
  height: auto;
  display: block;
}

#projectboutton {
  position: relative;
  width: 180px;
}
#lnch {
  font-size: 18px;
  color: #fff;
  line-height: 1;
  padding: 20px 25px;
  text-align: center;
  border-radius: 50px;
  transition: 0.5s ease background-color, 0.5s ease box-shadow;
  background: #e74c3c;
  box-shadow: 0 20px 30px -6px #e74c3c;
}
#lnch_btn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  line-height: 1;
  color: #fff;
  padding: 18px 12px;
  cursor: pointer;
  transition: 0.3s ease transform;
}
#lnch.launching {
  background-color: #f39c12;
  box-shadow: 0 20px 30px -6px #f39c12;
}
#lnch_btn.launching {
  transform: rotateZ(-90deg);
  animation: shake 0.3s ease 0.5s infinite;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0) rotateZ(-90deg);
  }
  20%,
  80% {
    transform: translate3d(1px, 0, 0) rotateZ(-90deg);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-1px, 0, 0) rotateZ(-90deg);
  }
  40%,
  60% {
    transform: translate3d(1px, 0, 0) rotateZ(-90deg);
  }
}

#lnch.launched {
  background-color: #27ae60;
  box-shadow: 0 20px 30px -6px #27ae60;
}

#lnch_btn.launched {
  transform: rotateZ(-90deg);
  animation: moveUp 1s ease 0s forwards;
}
@keyframes moveUp {
  0% {
    margin-top: 0;
    transform: scale(1) rotateZ(-90deg);
  }
  100% {
    color: #ff1f5a;
    margin-top: -100px;
    transform: scale(0) rotateZ(-90deg);
  }
}
